/.clj-kondo/*
/llm/skills/*
!/llm/skills/worklog
!/llm/skills/git-commit
!/llm/skills/rewrite-text
!/llm/skills/clj-rewrite
!/llm/skills/planning
!/llm/skills/planning/**
!/llm/skills/repairing
!/llm/skills/repairing/**
!/llm/skills/realizing
!/llm/skills/realizing/**
/.lsp/*
.DS_Store
